.links{
/* padding-left:30%; */
width:100%;
}
.links section{
}
.links div{
  color: brown;
  border-style: double;
  border-color: black;
  width:40%;
  margin-left:30%;
}
.links a{
  color: red;
  padding-bottom:10%;
}
.links #croc{
  color: green;
}
.links #usha{
  color:orange;
}
.links img{
  width: 50px;
  height: auto;
}
.menu{
  /* padding-left:30%; */
  margin-bottom: 5em;
}
.menu h2{
  color: blue;
}
.menu li{
  color: brown;
}
.header {
  /* padding-left:30%; */
}
.desc{
  color: brown;
}
.desc img{
  height:100px;
  width: auto;
}
body{
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}
